node_modules
.DS_Store
dist
apps/*/dist
dist-ssr
apps/*/dist-ssr
*.local
.env
.cta.json
.nitro
apps/*/.nitro
.tanstack
apps/*/.tanstack
.turbo
apps/*/.turbo
.superpowers
.wrangler
.output
apps/*/.output
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/target
.vinxi
__unconfig*
todos.json
