package-lock.json
yarn.lock
.agents
dist
apps/*/dist
dist-ssr
apps/*/dist-ssr
.nitro
apps/*/.nitro
.output
apps/*/.output
.tanstack
apps/*/.tanstack
.turbo
apps/*/.turbo
apps/desktop/src-tauri/gen
apps/desktop/src-tauri/target
